$defaultWidth: 90%;
$borderForArticles: 0 20px;
$mouseHoverColor: rgba(32, 73, 82, 0.214);

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(194, 194, 194); 
  //border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(61, 61, 61);
}

main {
  width: 100%;
  height: 90vh;

  .div-main {
    width: $defaultWidth;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    .div-inside {
      text-align: center;

      .h2-name {
        font-size: 40px;
        opacity: 0.6;
      }

      .h2-whoami {
        font-size: 30px;
        opacity: 0.6;
      }

      h1 {
        font-size: 60px;
        opacity: 0.9;
      }

      .links{
        width: 100%;
        text-align: center;
        .contact{
          margin: 3%;
          width: fit-content;
          height: fit-content;

          img {
            width: 40px;
            height: 40px;
            box-shadow: 0 0 1px 2px rgba(22, 32, 34, 0.087);
            border-radius: 10px;
            padding: 4px;
            color: black;
          }

          img:hover {
            box-shadow: 0 0 1px 2px $mouseHoverColor;
          }
        }
      }
    }

    .down-arrow{
      position: absolute;
      bottom: 80px;
      animation-name: down-arrown;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      opacity: 0.1;
    }

    @keyframes down-arrown {
      50% {
        bottom: 40px;
        opacity: 0.8;
      }
    }
  }
}

section {
  width: $defaultWidth;
  height: fit-content;
  margin: auto;
  padding: 50px 0;

  h2 {
    width: fit-content;
    margin: 2% auto 4% auto;
  }

  div{
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .experiencesDiv{
    text-align: center;

    article{
      max-width: 300px;
      min-height: 220px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin: 2%;
      vertical-align: top;
      box-shadow: 0 0 5px 0 rgb(219, 219, 219),
                10px 10px 0 0 rgba(197, 197, 197, 0.339);
      border-radius: $borderForArticles;
      line-height: 1.5;

    }
  }

  .projectsDiv{
    text-align: center;

    .project{
      width: 300px;
      height: 280px;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 0 5px 0 rgb(219, 219, 219),
                10px 10px 0 0 rgba(197, 197, 197, 0.339);
      border-radius: 0 20px;
      margin: 2%; 
      position: relative;
      padding: 15px;
      line-height: 1.5;
      font-size: 18px;
    }

    .seeMore{
      text-align: right;
      position:absolute;
      right: 10px;
      bottom: 10px;
      color: rgb(0, 162, 255);
      text-decoration: none;
    }

    .seeMore:hover{
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .certificatesDiv{
    text-align: center;

    .certificate {
      width:350px; 
      height:230px;
      margin: 2%; 
      box-shadow: 0 0 5px 0 rgb(219, 219, 219);
      border-radius: 10px;
      padding: 4px;
    }
  }

  .articleExperience:hover, .project:hover, .certificate:hover{
    transition: 0.6s;
    box-shadow: 0 0 5px 0 rgb(219, 219, 219),
                10px 10px 0 0 $mouseHoverColor;
  }
}

/* project page */

.project-page-div {
  
  .go-back {
    width: fit-content;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 50px ;
    opacity: 0.7;
  }

  .go-back:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  div {
    
    height: 100vh;
    display: inline-block;
    vertical-align: top;
  }

  .left-div{
    width: 40%;
    line-height: 2;
    padding: 0 5% 0 5%;
    overflow: auto;
    h1{
      text-align: center;
    }
  }

  .right-div{
    width: 50%;
    background-color: rgb(236, 236, 236);
    position: relative;

    img {
      width: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//----- footer
footer{
  height: 20vh;
  display:flex;
  justify-content: center;
  align-items: center;

  div{
    text-align: center;
  }
}

//
@media only screen and (max-width: 600px) {
  main {
    .div-main {
      flex-direction: column;

      .right{
        h2, h3, h4 {
          font-size: medium;
          line-height: 1;
        }
        h1{
          font-size: larger;
          
        }
  
        .contact {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .down-arrown{
        bottom: 40px;
      }
  
      @keyframes down-arrown {
        50% {
          bottom: 10px;
        }
      }
    }
  }

  section{
    .divInsideSection{
      width: 100%;

      .certificate {
        width: 300px;
        height: 250px;
        padding: 10px;
      }
    }
  }

  .project-page-div{
    div{
      width: 80%;
    }
    
    h1{
      font-size: 18px;
    }
  }
}


//
@media only screen and (max-width: 900px) {
  .project-page-div{
    .left-div{
      width: 90%;
      padding: 0 5% 0 5%;
      overflow: unset;
    }

    .right-div {
      display: none;
    }
  }
}